// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * at91-sama5d27_jupiter_nano.dts - Device Tree file for Jupiter Nano board
 *
 * Contributed by: Shashank Kulkarni
 * 
 * Jupiter Nano is an open source hardware board based on the Microchip SAMA5D27
 * processor with 1 Gbit LPDDR2 integrated inside the package. This board is designed
 * by Starcat.io.
 *
 *
 *  Copyright (c) 2017, Microchip Technology Inc.
 *                2016 Nicolas Ferre <nicolas.ferre@atmel.com>
 *                2017 Cristian Birsan <cristian.birsan@microchip.com>
 *                2017 Claudiu Beznea <claudiu.beznea@microchip.com>
 */

 /*
	----------------------------------------------------------------------
	4 July - Pinout Update - Shashank Kulkarni (shanky.kulkarni@gmail.com)
	----------------------------------------------------------------------

	Fx = FLEXCOM, F0 = UART, F3 = SPI, F4 = I2C

				------------------------
	GND			(25)  -			  -	 (01)	GND
	VBAT IN		(26)  -			  -	 (02)	3V3 OUT
	WAKEUP		(27)  -			  -	 (03)	AREF
	VBUS 5V IN	(28)  -			  -	 (04)	RESET
	ADTRG		(29) PD31		PD19 (05)	UART2 RXD
	PWMH1		(30) PB00		PD20 (06)	UART2 TXD
	PWML1		(31) PB01		PD21 (07)	ANALOG1
	PWMH2		(32) PB05		PD22 (08)	ANALOG2
	PWML2		(33) PB06		PD23 (09)	ANALOG3
	GPIO9 - D1	(34) PB07		PA27 (10)	GPIO6
	GPIO10 - D2	(35) PB08		PC05 (11)	GPIO7 - PB1
	PWMEXTTRG1	(36) PB03		PC03 (12)	GPIO8 - PB2
	I2C0 SCL	(37) PC28		PC01 (13)	CAN0 TXD
	I2C0 SDA	(38) PC27		PC02 (14)	CAN0 RXD
	SPI1 MOSI	(39) PD26		PB28 (15)	F0 UTXD
	SPI1 MISO	(40) PD27		PB29 (16)	F0 URXD
	SPI1 CS0	(41) PD28		PB30 (17)	F0 USCK
	GPIO1		(42) PD29		PB31 (18)	F0 UCTS
	GPIO2		(43) PD30		PC00 (19)	F0 URTS
	F3 MOSI		(44) PA15		PD12 (20)	F4 SCL
	F3 MISO		(45) PA13		PD13 (21)	F4 SDA
	F3 SCK		(46) PA14		PC30 (22)	GPIO3
	F3 CS0		(47) PA16		PC31 (23)	GPIO4
	GPIO5		(48) PA17		PD25 (24)	SPI1 SCK
				-------------------------

 */
/dts-v1/;
#include "at91-sama5d27_jupiter_nano.dtsi"
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Atmel SAMA5D27 Jupiter Nano";
	compatible = "atmel,sama5d27-jupiter-nano", "atmel,sama5d27-som1", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	aliases {
		serial0 = &uart1;	/* DBGU - data is available on USB port (MCP2200 USB <-> Serial converter) */
		serial1 = &uart8;	/* Flexcom 3 */
		i2c1	= &i2c3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ahb {
		usb0: gadget@300000 {
			status = "okay";
		};

		usb1: ohci@400000 {
			num-ports = <3>;
			status = "okay";
		};

		sdmmc1: sdio-host@b0000000 {
			bus-width = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdmmc1_default>;
			status = "okay";
		};

		apb {
			tcb0: timer@f800c000 {
				timer0: timer@0 {
					compatible = "atmel,tcb-timer";
					reg = <0>;
				};

				timer1: timer@1 {
					compatible = "atmel,tcb-timer";
					reg = <1>;
				};
			};

			uart1: serial@f8020000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			uart2: serial@f8024000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart2_default>;
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			pwm0: pwm@f802c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ch1_high &pinctrl_ch2_high>;
				status = "okay";
			};

			flx3: flexcom@fc014000 {
				atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
				status = "okay";

				spi5: spi@400 {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_flx3_default>;
					status = "okay";

					spidev@0 {
						compatible = "atmel,at91rm9200-spidev";
						reg = <0>;
						spi-max-frequency = <1000000>;
					};
				};
			};

			flx0: flexcom@f8034000 {
				atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
				status = "okay";

				uart5: serial@200 {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_flx0_default>;
					status = "okay";

				};
			};

			flx4: flexcom@fc018000 {
				atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
				status = "okay";

				i2c6: i2c@600 {
					dmas = <0>, <0>;
					i2c-analog-filter;
					i2c-digital-filter;
					i2c-digital-filter-width-ns = <35>;
					pinctrl-names = "default", "gpio";
					pinctrl-0 = <&pinctrl_f4_i2c_gpio>;
					sda-gpios = <&pioA PIN_PD12 GPIO_ACTIVE_HIGH>;
					scl-gpios = <&pioA PIN_PD13 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
					status = "okay";
				};
			};

			i2c0: i2c@f8028000 {
				dmas = <0>, <0>;
				i2c-analog-filter;
				i2c-digital-filter;
				i2c-digital-filter-width-ns = <35>;
				pinctrl-names = "default", "gpio";
				pinctrl-0 = <&pinctrl_i2c0_gpio>;
				sda-gpios = <&pioA PIN_PC27 GPIO_ACTIVE_HIGH>;
				scl-gpios = <&pioA PIN_PC28 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
				status = "okay";
			};

			spi1: spi@fc000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_spi1_default>;
				status = "okay";

				spidev@0 {
					compatible = "atmel,at91rm9200-spidev";
					reg = <0>;
					spi-max-frequency = <1000000>;
				};
			};


			shdwc@f8048010 {
				debounce-delay-us = <976>;
				atmel,wakeup-rtc-timer;

				input@0 {
					reg = <0>;
				};
			};

			watchdog@f8048040 {
				status = "okay";
			};

			adc: adc@fc030000 {
				vddana-supply = <&vddana>;
				vref-supply = <&advref>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_ad2 &pinctrl_ad3 &pinctrl_ad4>;

				status = "okay";
			};

			pinctrl@fc038000 {

				pinctrl_can0_default: can0_default {
					pinmux = <PIN_PC1__CANTX0>,
						 <PIN_PC2__CANRX0>;
					bias-disable;
				};

				pinctrl_flx3_default: flx3_default {
					pinmux = <PIN_PA15__FLEXCOM3_IO0>,
						 <PIN_PA13__FLEXCOM3_IO1>,
						 <PIN_PA14__FLEXCOM3_IO2>,
						 <PIN_PA16__FLEXCOM3_IO3>,
						 <PIN_PA17__FLEXCOM3_IO4>;
					bias-disable;
				};

				pinctrl_f4_i2c_gpio: f4_i2c_gpio {
					pinmux = <PIN_PD12__FLEXCOM4_IO0>,
						 <PIN_PD13__FLEXCOM4_IO1>;
					bias-disable;
				};

				pinctrl_i2c0_gpio: i2c0_gpio {
					pinmux = <PIN_PC27__TWD0>,
						 <PIN_PC28__TWCK0>;
					bias-disable;
				};

				pinctrl_spi1_default: spi1_default {
					pinmux = <PIN_PD25__SPI1_SPCK>,
						 <PIN_PD26__SPI1_MOSI>,
						 <PIN_PD27__SPI1_MISO>,
						 <PIN_PD28__SPI1_NPCS0>;
					bias-disable;
				};

				pinctrl_led_gpio_default: led_gpio_default {
					pinmux = <PIN_PA6__GPIO>;
					bias-pull-up;
				};

				pinctrl_sdmmc1_default: sdmmc1_default {
					cmd_data {
						pinmux = <PIN_PA28__SDMMC1_CMD>,
							 <PIN_PA18__SDMMC1_DAT0>,
							 <PIN_PA19__SDMMC1_DAT1>,
							 <PIN_PA20__SDMMC1_DAT2>,
							 <PIN_PA21__SDMMC1_DAT3>;
						bias-disable;
					};

					conf-ck_cd {
						pinmux = <PIN_PA22__SDMMC1_CK>,
							 <PIN_PA30__SDMMC1_CD>;
						bias-disable;
					};
				};

				pinctrl_uart1_default: uart1_default {
					pinmux = <PIN_PD2__URXD1>,
						 <PIN_PD3__UTXD1>;
					bias-disable;
				};

				pinctrl_uart2_default: uart2_default {
					pinmux = <PIN_PD19__URXD2>,
						 <PIN_PD20__UTXD2>;
					bias-disable;
				};

				pinctrl_ad2: ad2 {
					pinmux = <PIN_PD21__GPIO>;
					bias-disable;
				};

				pinctrl_ad3: ad3 {
					pinmux = <PIN_PD22__GPIO>;
					bias-disable;
				};

				pinctrl_ad4: ad4 {
					pinmux = <PIN_PD23__GPIO>;
					bias-disable;
				};

				pinctrl_flx0_default: flx0_default {
					pinmux = <PIN_PB28__FLEXCOM0_IO0>,
						 <PIN_PB29__FLEXCOM0_IO1>,
						 <PIN_PB30__FLEXCOM0_IO2>,
						 <PIN_PB31__FLEXCOM0_IO3>,
						 <PIN_PC0__FLEXCOM0_IO4>;
					bias-disable;
				};

				pinctrl_ch1_high: ch1_high {
					pinmux = <PIN_PB0__PWMH1>;
					bias-disable;
				};

				pinctrl_ch2_high: ch2_high {
					pinmux = <PIN_PB5__PWMH2>;
					bias-disable;
				};

			};

			can0: can@f8054000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_can0_default>;
				status = "okay";
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led_gpio_default>;
		status = "okay"; 

		blue {
			label = "blue";
			gpios = <&pioA PIN_PA6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	vddin_3v3: fixed-regulator-vddin_3v3 {
		compatible = "regulator-fixed";

		regulator-name = "VDDIN_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		status = "okay";
	};

	vddana: fixed-regulator-vddana {
		compatible = "regulator-fixed";

		regulator-name = "VDDANA";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vddin_3v3>;
		status = "okay";
	};

	advref: fixed-regulator-advref {
		compatible = "regulator-fixed";

		regulator-name = "advref";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vddana>;
		status = "okay";
	};
};
